body{
    color:rgb(60, 170, 118);
    background: rgb(176, 207, 193);
}
.heading{
    width: 81%;
    font-size: 30px;
}
.name_of_objects,#result_object_name{
    color: rgb(72, 128, 123);
}
#camera{
    border: 2px dashed black;
    width: 351px;
    height: 302px;
}